
/*DEVLOPER Scott Armstrong-McIntosh, IS117-007, Fall 2025*/



body {
	font-family: Arial, Helvetica, sans-serif;
    margin: auto;
	border: 2px solid var(--accent-color);
}

h2{
    padding: .2em;
}

.row{
    text-align: center;
    padding: 1em;

}

.card{
    background-color: rgb(59, 57, 57);
    color:white
}

#cards
{
    background-color: black;
    color:white;
}

.container{
    background-color: gray;
}
    